:root {
    --main-content-margin: 20px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.p {
    text-wrap: pretty;
}

.cards {
    flex-grow: 1;

    overflow-wrap: anywhere;
    word-break: break-word;

    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;

    /* card shadow */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.maincontent {
    flex-grow: 1;

    /*max-width: 1800px;*/
    background-color: #f1f1f1;
    /*padding: 20px;*/
    border-radius: 10px;
    margin: var(--main-content-margin);
    min-height: 75vh;
    cursor: default;

    color: #131313;
}

body {
    background-color: #131313;    
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;;
}
h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 5em;
    letter-spacing: 0.05em;
    margin: 0 0;
}
h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 0.05em;
    margin: 0 0;
}
h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.50em;
    letter-spacing: 0.05em;
    margin: 0 0;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.05em;
    margin: 0 0;
}

a {
    color: #155cc7;
    text-decoration: none;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    border-radius: 2%;
    width: 100%;
    height: auto;
}
.mypicture {
    max-width: 300px;
}

.large-card {
    flex-grow: inherit;
}

.duckpicture {
    max-width: 300px;
}

.footer {
    margin: var(--main-content-margin);
}

.footer-content {
    margin: 0px;

    display:flex;
    flex-direction: column;
    align-items: center;
}

/* to avoid scrapers */
span.cool_stuff b {
	display: none;
}

/* Fancy CSS Animation */

@keyframes fallIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.cards {
    opacity: 0; /* Start with hidden cards */
    animation: fallIn 0.5s forwards; /* Apply the animation */
}

.cards:nth-child(1) {
    animation-delay: 0.1s;
}

.cards:nth-child(2) {
    animation-delay: 0.2s;
}

.cards:nth-child(3) {
    animation-delay: 0.3s;
}

.cards:nth-child(4) {
    animation-delay: 0.4s;
}

.cards:nth-child(5) {
    animation-delay: 0.5s;
}
@keyframes bump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
a:hover {
    display: inline-block;
    animation:bump 0.5s forwards ease-out;
}